$primary-color:#9356DC;
$secondary-color:#FF79DA;
$third-color:#99E2D0;

@mixin flexCenter
	{
	display: flex;
	justify-content: center;
	align-items: center;
	}

@mixin gradientbg{
background: #FF79DA;
background: -moz-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
background: -webkit-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
padding: 15px 20px 15px 20px;
	color: white;
	margin: 15px 0px 15px 0px;
	border-radius: 25px;
}

@mixin image{
	grid-column: 1/2;
	grid-row-start:1;
	grid-row-end:5;
	z-index: 1;
	background-repeat: no-repeat;
	background-size:cover;
}

h2
{
	margin: 30px 0px 20px 20px;
	}
