* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  text-decoration: none;
  color: inherit;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: .8rem;
}

h2 {
  margin: 30px 0px 20px 20px;
}

/* HEADER */
header {
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
}

.accueil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.header--icon {
  float: left;
  margin-top: 7PX;
  padding: 10px 0px 10px 0px;
}

.header--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px 10px 0px;
}

@media screen and (min-width: 1100px) {
  .accueil {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

/* LOCALISATION */
.location {
  padding-right: 10px;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #dfdfdf;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-shadow: inset 0px 4px 9px -8px rgba(0, 0, 0, 0.55);
          box-shadow: inset 0px 4px 9px -8px rgba(0, 0, 0, 0.55);
}

@media screen and (min-width: 1100px) {
  .localisation {
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: absolute;
    top: 10px;
    right: 40px;
  }
}

/* INTRO */
.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f4f4f4;
  padding-top: 15px;
  padding-bottom: 15px;
}

.intro--titre {
  width: 60%;
  font-weight: 500;
  font-size: 1.7rem;
  text-align: center;
  margin: 10Px;
}

.intro--subtitre {
  width: 75%;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  color: #474747;
}

.btn {
  background: #FF79DA;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  padding: 15px 20px 15px 20px;
  color: white;
  margin: 15px 0px 15px 0px;
  border-radius: 25px;
  -webkit-transition: all 450ms;
  transition: all 450ms;
}

.btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: #FF79DA;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(30%, #FF79DA), to(#9a6dd1));
  background: linear-gradient(to bottom, #FF79DA 0%, #FF79DA 30%, #9a6dd1 100%);
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fonctionnement-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin: 10Px;
}

.fonctionnement--btn .fas {
  padding-right: 15px;
}

.fonctionnement--btn {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25PX 15px 25Px 15px;
  border-radius: 25PX;
  -webkit-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
  font-size: 1.2rem;
}

.fonctionnement--btn:hover {
  background-color: rgba(147, 86, 220, 0.2);
  cursor: pointer;
}

.fonctionnement-nm {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  color: white;
  background: #9356dc;
  margin: -10PX;
  z-index: 2;
}

@media screen and (min-width: 1100px) {
  .fonctionnement {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 40px;
  }
}

/* MENUS RESTAURANTS */
.menu_titre {
  width: 100%;
  background: #f4F4F4;
  padding-top: 20Px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f4F4F4;
  padding-bottom: 40px;
}

.menu--block {
  position: relative;
  background: white;
  width: 90%;
  height: 230px;
  border-radius: 15px;
  margin: 15Px;
  -webkit-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.2);
}

.menu--block:hover {
  -webkit-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.3);
}

.btn_menu {
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 5px 15px 5px 15px;
  background: #99E2D0;
}

.menu--image {
  width: 100%;
  height: 72%;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu--blocktext {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

.menu_icon {
  position: absolute;
  top: 12%;
  font-size: 1.5rem;
  right: 1%;
}

@media screen and (min-width: 600px) {
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu--block {
    width: 45%;
  }
}

@media screen and (min-width: 1100px) {
  .menu--block {
    width: 20%;
  }
  h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* FOOTER */
.footer {
  background-color: #303030;
  padding-bottom: 20Px;
  padding-top: 20px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.footer--logo {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 40%;
}

.footer--element {
  margin: 10px 0px 10px 20PX;
}

@media screen and (min-width: 600px) {
  .footer--logo {
    width: 20%;
  }
}

@media screen and (min-width: 1100px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer--logo {
    width: 60%;
  }
}

/* MENU PAGES */
.body_page_menu {
  background-color: #f4f4f4;
  width: 100%;
}

.container_menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1FR;
      grid-template-columns: 1FR;
  -ms-grid-rows: 1fr 1Fr 1fr 1fr;
      grid-template-rows: 1fr 1Fr 1fr 1fr;
  height: 300px;
  background-color: white;
}

.titre_menu {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
  z-index: 2;
  background-color: #f4f4f4;
  border-radius: 35PX 35PX 0px 0PX;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20Px 30px 20px 30px;
  position: relative;
}

.menu_icon2 {
  position: absolute;
  font-size: 1.5rem;
  right: 5%;
}

.titre_name {
  font-family: 'Shrikhand', cursive;
  margin: 0;
}

.image_menu {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(images/menilmontant.jpg);
}

.image_menu_2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(images/charonne.jpg);
}

.image_menu_3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(images/citerouge.jpg);
}

.image_menu_4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(images/folie_mericourt.jpg);
}

.menu_restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px 40px 20px;
}

.menu_restaurant_block {
  width: 100%;
}

.underline {
  text-transform: uppercase;
  position: relative;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 20px;
}

.underline::after {
  content: '';
  height: 3Px;
  width: 10%;
  background: #99E2D0;
  position: absolute;
  left: 0;
  bottom: -5px;
}

.menu_plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin-top: 15Px;
  margin-bottom: 15px;
  padding: 15px 15px 15px 15px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.text_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #474747;
  margin-top: 3px;
}

.validation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 100%;
  width: 70px;
  height: 100%;
  background: #99E2D0;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.validation_check {
  color: white;
  font-size: 2rem;
}

.validation_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.validation_price {
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.menu_plat:hover .validation {
  -webkit-transform: translateX(-90%);
          transform: translateX(-90%);
}

.menu_plat:hover .validation_text {
  width: 60%;
}

.menu_plat:hover .validation_price {
  -webkit-transform: translateX(-300%);
          transform: translateX(-300%);
}

.menu_plat:hover .fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.button_container {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

@media screen and (min-width: 1100px) {
  .menu_restaurant {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu_restaurant_block {
    width: 30%;
  }
  .titre_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu_plat:hover .validation_text {
    width: 100%;
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes opacity {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.menu_plat {
  -webkit-animation: opacity 2S forwards;
          animation: opacity 2S forwards;
}

@-webkit-keyframes moveup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.entrees {
  -webkit-animation: moveup 1.5S;
          animation: moveup 1.5S;
  visibility: visible;
}

.plats {
  -webkit-animation: moveup 1.5S;
          animation: moveup 1.5S;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0.5S;
          animation-delay: 0.5S;
}

.desserts {
  -webkit-animation: moveup 1.5S;
          animation: moveup 1.5S;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1S;
          animation-delay: 1S;
}

.heart-main {
  position: relative;
  cursor: pointer;
}

.heart-background {
  position: absolute;
  left: 0;
  right: 0;
  color: transparent;
  cursor: pointer;
}

.heart-background:hover {
  -webkit-animation: fillin 1S ease-in-out forwards;
          animation: fillin 1S ease-in-out forwards;
}

@-webkit-keyframes fillin {
  0% {
    color: transparent;
  }
  30% {
    color: transparent;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  60% {
    color: #9356dc;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  90% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    color: #9356dc;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes fillin {
  0% {
    color: transparent;
  }
  30% {
    color: transparent;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  60% {
    color: #9356dc;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  90% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    color: #9356dc;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.loading {
  position: fixed;
  left: 50%;
  top: 30%;
  margin-left: -4em;
  border: 20px solid transparent;
  border-top: 20px solid #9356DC;
  border-bottom: 20px solid #9356DC;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: -1;
  -webkit-animation: loading 2S ease-in-out infinite;
          animation: loading 2S ease-in-out infinite;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

#wrapper {
  background-color: white;
  -webkit-animation: opacity 2S;
          animation: opacity 2S;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */