@import "./variables";


*{
	font-family:'Roboto', sans-serif;
	margin: 0;
	text-decoration: none;
	color: inherit;
}

h5{
	font-size: 1.2rem;
}

p{
	font-size: 1.1rem;
}

header{
padding-left: 20px;
padding-right: 20px;
background-color: white;
}

.accueil{
	@include flexCenter;
	padding: 20px;
}

.header--icon{
	float: left;
	margin-top: 7PX;
	padding: 10px 0px 10px 0px;
}

.header--logo{
	@include flexCenter;
	padding: 10px 0px 10px 0px;
	}		

.localisation{
	@include flexCenter;
	background: #dfdfdf;
	padding-top: 15px;
	padding-bottom: 15px;
	box-shadow: inset 0px 4px 9px -8px rgba(0,0,0,0.55); 
	}	

.intro{
	@include flexCenter;
	flex-direction: column;
	background: #f4f4f4;
	padding-top: 15px;
	padding-bottom: 15px;
	&--titre{
		width: 60%;
		font-weight: 500;
		font-size: 1.7rem;
		text-align: center;
		margin: 10Px;
	}
	&--subtitre{
		width: 75%;
		font-weight: 400;
		font-size: 1.2rem;
		text-align: center;
		color: #474747;
	}
	}

.btn{
	@include gradientbg;
}

.fonctionnement{
	@include flexCenter;
	flex-direction: column;
	}	

.fonctionnement-element{
	@include flexCenter;
	flex-direction: row;
	width: 90%;
	margin: 10Px;
	}	


.fonctionnement--btn{
	width: 85%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 30PX 15px 30Px 15px;
	border-radius: 25PX;
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.20);	
}

.fonctionnement-nm{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	color: white;
	background: $primary-color;
}

.menu_titre{
	width: 100%;
	background: #f4F4F4;
	padding-top: 20Px;
}

.menu{
	@include flexCenter;
	flex-direction: column;
}

.menu--block{
		position: relative;
		background: white;
		width: 90%;
		height: 280px;
		border-radius: 15px;
		margin: 15Px;
		box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.20);
	}

	.btn_menu{
	position: absolute;
	top:5%;
	right: 5%;
	padding: 5px 15px 5px 15px;
	background:$third-color;
	}

	.menu--image{
		width: 100%;
		height: 72%;
		border-radius: 15px 15px 0px 0px;
		object-fit: cover;
		}

.menu--blocktext{
	position: relative;
	display:flex;
	flex-direction: column;
	margin:10px;
	}		

.menu_icon{
	position: absolute;
	top:12%;
	font-size: 1.5rem;
	right: 1%;
}

.footer{
background-color: #303030;
padding-bottom: 20Px;
padding-top: 20px;
}

.footer{
	display: flex;
	justify-content:flex-start;
	flex-direction: column;
	color: white;
	&--logo{
	filter: invert(1);
	width: 40%;
		}
	&--element{
	margin:10px 0px 10px 20PX;
		}
}


.body_page_menu
{
	background-color: #f4f4f4;
	width: 100%;
		}

.container_menu{
	display: grid;
	grid-template-columns: 1FR;
	grid-template-rows: 1fr 1Fr 1fr 1fr;
	height: 300px;
	background-color: white;
		}

	.titre_menu{
	grid-column: 1/2;
	grid-row-start: 4;
	grid-row-end:5;
	z-index: 2;
	background-color: #f4f4f4;
	border-radius: 35PX 35PX 0px 0PX;
	display: flex;
	}
	
	.image_menu{
		@include image;
		background-image: url(images/menilmontant.jpg);
	}

	.image_menu_2{
		@include image;
		background-image: url(images/charonne.jpg);
	}

	.image_menu_3{
		@include image;
		background-image: url(images/citerouge.jpg);
	}

	.image_menu_4{
		@include image;
		background-image: url(images/folie_mericourt.jpg);
	}
	
	.menu_restaurant{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding:0px 20px 40px 20px;
			}
	.menu_restaurant_block{
		width: 100%;
			}


	.underline{

		text-transform:uppercase;
		position: relative;
		font-weight: 300;
		margin-bottom: 20px;
		margin-top: 20px;
			&::after{
				content: '';
				height: 3Px;
				width:10%;
				background: $third-color;
				position: absolute;
				left: 0;
				bottom: -5px;
			
			}
	}

	.menu_plat{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	align-content: space-between;
	margin-top: 15Px;
	margin-bottom: 15px;
	padding: 15px 10px 15px 10px;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.20)
	}	

	.plat_description{
		color: #474747;
		margin-top: 3px;
	}


span{
	display: none;
	}

